# Caddyfile

http://flask.localhost {
    reverse_proxy flask:5000
}

http://wekan.localhost {
    reverse_proxy wekan:8080
}

http://chat.localhost {
    reverse_proxy mattermost:8065
}

http://keycloak.localhost {
    reverse_proxy keycloak:8080
}