flask.ninolbt.com {
    reverse_proxy flask:5000
}

keycloak.ninolbt.com {
    reverse_proxy keycloak:8080
}

chat.ninolbt.com {
    reverse_proxy mattermost:8065
}

wekan.ninolbt.com {
    reverse_proxy wekan:8080
}
